<p id="notice"><%= notice %></p>

<p>
  <strong>Entrada:</strong>
  <%= @init.entrada %>
</p>

<p>
  <strong>Processamento:</strong>
  <%= @init.processamento %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @init.resposta %>
</p>


